:root{
    font-family: Barlow, sans-serif;
    width: 100%;
 }
  
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }


/* - - - - CONTENEDORES - - - - */

.contenedor {
    display: grid;
    width: 100vw;
    grid-template-columns: repeat(6 auto);
    grid-template-rows: auto auto auto;
    grid-template-areas: 
    "header header header header header header"
    "main main main main main main"
    "footer footer footer footer footer footer"
    ;
} 

.contenedor-home {
    display: grid;
    width: 100vw;
    grid-template-columns: repeat(6 auto);
    grid-template-rows: auto auto auto auto;
    grid-template-areas: 
    "header header header header header header"
    "hero hero hero hero hero hero"
    "main main main main main main"
    "footer footer footer footer footer footer"
    ;
}
  
.contenedor-header {
    grid-area: header;
    align-content: start;
    position: sticky;
    top: 0px;
    width: 100vw;
}

.contenedor-hero {
    grid-area: hero;
    width: 100vw;
}

.contenedor-main {
    grid-area: main;
    width: 100vw;
}

.contenedor-footer {
    grid-area: footer;
    width: 100vw;
}

  
 /* - - - - HEADER - - - - */
  
 .header {
    height: 80px;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    position: sticky;
    top: 0px;
    background-color: white;
    z-index: 10000;
    padding-left: 120px;
    padding-right: 120px;
    box-shadow: 0px 1px 20px 0px rgb(105, 102, 102);
 }
  
 .logo-header {
    display: inline-block;
    margin-top: 10px;
    margin-left: -10px;
 }
  
 .menu {
    list-style: none;
    font-size: 0;
    margin-top: 30px;
 }
  
 .menu li {
    display: inline-block;
    padding-left: 60px;
 }
  
 .menu a{
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    color: black;
 }
  
 .menu a:hover {
    font-weight: 700;
    color: #141e30;
 }
  
  
 /* - - - - TÍTULOS Y TEXTOS - - - - */
  
 h1 {
    font-size: 55px;
    font-weight: 500;
    color: #ff4a0b;
 }
  
 h2 {
    font-size: 40px;
    font-weight: 700;
    color: #141e30;
 }
  
 h3 {
    font-size: 36px;
    font-weight: 500;
    color: #141e30;
    line-height: normal;
 }
  
 h4 {
    font-size: 24px;
    font-weight: 500;
    margin-top: 21px;
    width: 600px;
 }
  
 p {
    font-size: 18px;
    font-weight: 400;
 }
  
 .destacado-rojo {
    color: #c80000;
 }
  
  
 /* - - - - BOTONES - - - - */
  
 .btn-ppales {
    font-family: Barlow, sans-serif;
    letter-spacing: 2px;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    border-radius: 10px;
    border-color: none;
    border-width: 0px;
    background-color: #c80000;
    padding: 14px 88px;
    cursor: pointer;
 }
  
 .btn-ppales:hover {
    outline: #c80000 solid 4px;
    border-radius: 10px;
    background-color: transparent;
    color: #c80000;
    font-weight: 700;
 }
  
  
 .btn-secundarios {
    font-family: Barlow, sans-serif;
    letter-spacing: 2px;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 10px;
    border-style: none;
    background-color: #141e30;
    padding: 14px 88px;
    color: white;
    cursor: pointer;
 }
  
 .btn-secundarios:hover {
    outline: #141e30 solid 4px;
    border-radius: 10px;
    background-color: transparent;
    color: #141e30;
    font-weight: 700;
 }
  
 .bloque-cta-btn {
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
    justify-content: center;
 }
  
  
 /* - - - - MAIN - - - - */
  
 .main {
    background-image: url(../multimedia/fondo-teka2.png);
    background-size: contain;
    padding-left: 120px;
    padding-right: 120px;
 }
  
 .intro-section {
    margin-top: 80px;
    margin-bottom: 80px;
 }
  
 .intro-section h1 {
    margin-bottom: 10px;
    font-weight: 600;
 }
  
 .intro-section h3 {
    width: 800px;
 }
  
  
 /* - - - - FOOTER - - - - */
  
 .footer {
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    background-color: #141e30;
    font-size: 16px;
    font-weight: 400;
    color: white;
    padding: 40px 120px 40px 120px;
    width: 100%;
 }
  
 .copy-footer {
    align-content: center;
 }
  
 .copy-footer p {
    text-align: center;
 }
  
 .redes-footer {
    margin-top: 20px;
    align-content: center;
    text-align: center;
    box-sizing: 350px;
 }
  
 .redes-footer a {
    align-content: space-evenly;
    text-align: center;
    padding-right: 5px;
    padding-left: 5px;
 }
  
 .redes-footer a img:hover {
    width: 30px;
    height: auto;
 }
  
  
 /* - - - - HOME - - - - */
  
 /* - - - - bloque hero - - - - */

 .bloque-hero {
    background-image: url(../multimedia/fondo-soundheim.jpg);
    background-size: 100%;
    height: 100%;
    background-blend-mode: multiply;
    padding: 145px 120px 80px 100px;
    animation: fadeIn 5s;
 }
 @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  .texto-hero:hover {
    animation: fadeIn 5s;
}

@keyframes fadeIn {
    0% { opacity: 3; }
    50% { opacity: 2; }
    75% { opacity: 1; }
    100%{ opacity: 0;}
  }
  
.texto-hero {
    transform: scale(1.1);
}
  
 .talk{
    width: 150px;
    transition: all .3s;
 }
  .texto-hero {
    width: 45%;
    justify-content: flex-start;
    color: white;
    padding-top: 5px;
    padding-left: 20px;
    animation: fadeIn 10s;
    
 }


 .video-hero {
    justify-content: flex-end;
 }
  
 .bloque-hero h1 {
    color: white;
    margin-top: -10px;
 }
  
 .bloque-hero h3 {
    margin-top: 32px;
    color: white;
 }
  
 .intro-hero {
    display: flex;
    justify-content: space-between;
 }
  
 .video-hero iframe {
    width: 726px;
    height: 365px;
    border-radius: 10px;
    border-width: 0px;
    border-style: none;
    box-shadow: 5px 5px 20px 0px #05070b;
 }
  
 .cta-hero {
    display: flex;
    justify-content: center;
    margin-top: 115px;
 }
 .menu__ul li a:hover {
    color: #f9c10d;
}
#check:checked ~ .menu__ul {
    top: 79px;
    left: 0%;
}
  
  
 /* - - - - BLOQUE1 (HOME) - - - - */
  
 #home-bloque1 {
    padding-top: 160px;
    width: auto;
    margin-bottom: 160px;
 }
  
 .home-projects-slider {
    display: flex;
    justify-content: space-between;
    height: auto;
    width: 100%;
    margin-top: 70px;
    overflow-x: scroll;
    gap: 30px;
    transition: 0.3s;
 }
 .slide:hover {
    transform: translateY(10px);
}

.slide:hover .slide {
    transform: scale(1.1);
}
  
 .slide{
    width: 150px;
    transition: all .3s;
 }
  
 .home-projects-slider .slide {
    width: auto;
    transition: 0.3s;
    anim
 }
  
 .home-projects-slider .slide img {
    width: 382px;
    border-radius: 15px;
    transition: all .3s;

 }
  
 .home-projects-slider .bloque-cta {
    margin-left: 60px;
    margin-right: 40px;
    padding: 0px;
 }
  
 .home-projects-slider .bloque-cta-btn {
    width: 350px;
    text-align: center;
 }
  
 .bloque-cta {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
 }
  
 .bloque-cta h3{
    font-weight: 600;
    text-align: center;
    margin-bottom: 40px;
 }
  
  
 /* - - - - BLOQUE 2 (HOME) - - - - */
  
 .home-bloque2 {
    width: auto;
    overflow: auto;
    margin-bottom: 160px;
 }
  
 .featured-clients {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    gap: 60px;
    margin-top: 80px;
 }

 
 
 .featured-clients img {
    width: auto;
    height: 80px;
    opacity: 80%;
    transition: all .3s;
 }
  
  
 /* - - - - BLOQUE 3 (HOME) - - - - */
  
 .home-bloque3 {
    padding-bottom: 200px;
 }
  
 .home-bloque3 .bloque-cta {
    margin-top: 90px;
 }
  
 .main-servicios {
    margin-top: 80px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding-left: 45px;
    padding-right: 45px;
    margin-bottom: 80px;
 }
  
 .servicio {
    width: 250px;
    height: auto;
    display: flex;
    flex-flow: column wrap;
 }
  
 .servicio h3 {
    line-height: 40px;
 }
  
 .servicio p {
    margin-top: 18px;
 }
  
 .servicio a{
    font-size: 21px;
    font-weight: 600;
    text-decoration: none;
    color: #c80000;
    margin-top: 40px;
 }
  
 .servicio a:hover {
    font-weight: 700;
    color: #141e30;
 }
  
 .icono-servicio {
    text-align: center;
    margin-bottom: 40px;
 }
  
 .icono-servicio img {
    width: 180px;
    border-radius: 15px;
    box-shadow: 7px 7px 15px 0px rgb(215, 212, 212);
 }
  
  
  
 



 /* - - - - MEDIA QUERIES MOBILE- - - - */

@media screen and (max-width: 500px) {

    /* - - - - CONTENEDORES - - - - */

    .contenedor {
        display: grid;
        width: 100vw;
        grid-template-columns: 1 auto;
        grid-template-rows: auto auto auto;
        grid-template-areas: 
        "header"
        "main"
        "footer"
        ;
    } 
    
    .contenedor-home {
        display: grid;
        width: 100vw;
        grid-template-columns: 1 auto;
        grid-template-rows: auto auto auto auto;
        grid-template-areas: 
        "header"
        "hero"
        "main"
        "footer"
        ;
    }
      
    .contenedor-header {
        grid-area: header;
        width: 100vw;
        position: sticky;
        top: 0px;
        z-index: 10000;
    }
    
    .contenedor-hero {
        grid-area: hero;
        width: 100vw;
    }
    
    .contenedor-main {
        grid-area: main;
        width: 100vw;
    }
    
    .contenedor-footer {
        grid-area: footer;
        width: 100vw;
    } 


     /* - - - - HEADER - - - - */
  
    .header {
        height: auto;
        width: 100vw;
        display: flex;
        flex-flow: column wrap;
        padding-left: 40px;
        padding-right: 40px;
        box-shadow: 0px 1px 20px 0px rgb(105, 102, 102);
        z-index: 10000;
    }
    
    .logo-header {
        display: flex;
        justify-content: flex-start;
        width: auto;
        margin-left: -5px;
        margin-top: 10px;
    }

    .logo-header img {
        height: 40px;
        width: auto;
        margin-top: 5px;
    }
    
    .menu {
        display: flex;
        justify-content: center;
        list-style: none;
        margin-top: 10px;
        margin-bottom: 20px;
        width: 100%;
    }
    
    .menu li {
        display: inline-block;
        padding-bottom: 0px;
        padding-left: 20px;
        text-align: center;
    }
    
    .menu a{
        font-size: 12px;
        text-align: center;
    }


    /* - - - - TÍTULOS Y TEXTOS - - - - */
  
    h1 {
        font-size: 40px;
    }
    
    h2 {
        font-size: 25px;
    }
    
    h3 {
        font-size: 21px;
    }
    
    h4 {
        font-size: 16px;
        width: auto;
    }
    
    p {
        font-size: 12px;
    }


    /* - - - - BOTONES - - - - */
  
    .btn-ppales {
        letter-spacing: 1px;
        font-size: 14px;
        border-radius: 5px;
        padding: 7px 32px;
    }
    
    .btn-secundarios {
        letter-spacing: 1px;
        font-size: 14px;
        border-radius: 5px;
        padding: 7px 32px;
    }
    
    .bloque-cta-btn {
        display: flex;
        flex-flow: row wrap;
        gap: 20px;
        justify-content: center;
    }
    
    
    /* - - - - MAIN - - - - */
    
    .main {
        padding-left: 40px;
        padding-right: 40px;
    }
    
    .intro-section {
        margin-top: 80px;
        margin-bottom: 70px;
    }
    
    .intro-section h1 {
        margin-bottom: 10px;
        font-weight: 600;
    }
    
    .intro-section h3 {
        width: auto;
    }
    
    
    /* - - - - FOOTER - - - - */
    
    .footer {
        font-size: 12px;
        padding: 30px 100px;
        width: 100%;
    }
    
    .redes-footer {
        margin-top: 30px;
        box-sizing: 250px;
    }
    
    .redes-footer a {
        align-content: space-evenly;
        text-align: center;
        padding-right: 5px;
        padding-left: 5px;
    }
    
    .redes-footer a img:hover {
        width: 30px;
        height: auto;
    }
    
    
    /* - - - - HOME - - - - */
    
    /* - - - - bloque hero - - - - */

    .bloque-hero {
        padding: 100px 40px 70px 40px;
    }
    
    .texto-hero {
        width: auto;
        justify-content: start;
        padding-top: 5px;
        margin-left: -20px;
    }
    
    .video-hero {
        justify-content: center;
    }
    
    .bloque-hero h1 {
        margin-top: 0px;
    }
    
    .bloque-hero h3 {
        margin-top: 21px;
    }
    
    .intro-hero {
        display: flex;
        flex-flow: column wrap;
        gap: 60px;
        justify-content:center;
    }
    
    .video-hero iframe {
        width: 100%;
        height: 200px;
        border-radius: 5px;
        box-shadow: 5px 5px 20px 0px #05070b;
    }
    
    .cta-hero {
        display: flex;
        justify-content: center;
        margin-top: 80px;
    }
    
    
    /* - - - - BLOQUE1 (HOME) - - - - */
    
    #home-bloque1 {
        padding-top: 150px;
        width: auto;
        margin-bottom: 80px;
    }
    
    .home-projects-slider {
        display: flex;
        justify-content: space-between;
        height: auto;
        width: 100%;
        margin-top: 40px;
        overflow-x: scroll;
        gap: 10px;
    }
    
    .home-projects-slider .pj-slide {
        width: auto;
    }
    
    .home-projects-slider .pj-slide img {
        width: 156px;
        border-radius: 10px;
    }
    
    .home-projects-slider .bloque-cta {
        margin-left: 60px;
        margin-right: 40px;
        padding: 0px;
    }
    
    .home-projects-slider .bloque-cta-btn {
        width: 200px;
        text-align: center;
    }
    
    .bloque-cta {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-content: center;
    }
    
    .bloque-cta h3{
        margin-bottom: 20px;
    }
    
    
    /* - - - - BLOQUE 2 (HOME) - - - - */
    
    .home-bloque2 {
        width: auto;
        overflow: auto;
        margin-bottom: 90px;
    }
    
    .featured-clients {
        flex-flow: column wrap;
        gap: 40px;
        margin-top: 60px;
    }
    
    .featured-clients img {
        height: 50px;
    }
    
    
    /* - - - - BLOQUE 3 (HOME) - - - - */
    
    .home-bloque3 {
        padding-bottom: 100px;
    }
    
    .home-bloque3 .bloque-cta {
        margin-top: 20px;
        width: 100%;
    }
    
    .main-servicios {
        margin-top: 60px;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        padding-left: 0px;
        padding-right: 0px;
        margin-bottom: 0px;
    }
    
    .servicio {
        width: 156px;
        height: auto;
        display: flex;
        flex-flow: column wrap;
        margin-bottom: 50px;
    }
    
    .servicio h3 {
        line-height: 25px;
    }
    
    .servicio p {
        margin-top: 10px;
    }
    
    .servicio a{
        font-size: 14px;
        margin-top: 30px;
    }
    
    .icono-servicio {
        text-align: left;
        margin-bottom: 21px;
    }
    
    .icono-servicio img {
        width: 156px;
        border-radius: 10px;
        box-shadow: 7px 7px 15px 0px rgb(215, 212, 212);
    }
    
    
} 

